.hero-section {
  display: flex;
  margin-left: 45px;
  margin-right: 90px;
  margin-bottom: 45px;
  
  &__picture {
    width: 100%;
    max-width: 783px;
    height: 100%;
    max-height: 685px;
  }

  
  &__container {
    margin-left: 68px;
  
    &__title {
      font-size: 53px;
      font-weight: 900;
      line-height: 84px;
      letter-spacing: 8px;
      text-align: left;
      color: #D7B9E4;
      margin-top: 63px;
      margin-bottom: 13px;
    }
  }
  
  &__description {
    font-size: 21px;
    font-weight: 500;
    line-height: 37px;
    letter-spacing: 0.23999999463558197px;
    text-align: left;
    color: white;
    margin-bottom: 20px;
    margin-top: 0px;
  }
  
  &__icon {
    margin-top: 0px;
  }
}

